.Container {
    margin-top: 120px;
    margin-left: 150px;
    margin-right: 150px;
}

.card {
    margin: 20px;
}

#mamalia-cards {
    border-radius: 20%;
}

.core-card-images {
    margin: 15px;
    width: 250px;
    height: 250px;
}

.core-card-text {
    padding-left: 110px;
}